<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'images/VWO.png' %}">
  <title>Wingify</title>
  <style media="screen">
  body {
    height:600px;
    width:600px;
    background-image: url('{% static "images/VWO.png" %}');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  }
  </style>
</head>
<body>
  {% block bodyblock %}

  {% endblock %}
</body>
</html>
